.scrollbtn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: var(--color-accent);
  color: var(--color-white);
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  font-size: 16px;
  cursor: pointer;
  display: none;
  transition: opacity 0.3s, visibility 0.3s;
}

.visible {
  composes: scrollbtn;
  display: block;
}

.scrollbtn:hover {
  transform: scale(1.05);
  box-shadow: 0px 2px 10px 2px var(--color-primary);
}
