.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  position: relative;
}
.date {
  color: var(--color-white);
}
.participants{
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-white);
  position: absolute;
  top:10px;
  right: 10px;
}
.title {
  font-size: 20px;
  color: var(--color-white);
  margin-top: 12px;
}
.descr {
  color: var(--color-light);
  margin-top: 20px;
}
.organizer {
  composes: descr;
  margin-left: auto;
}
.wraplink {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}
.link {
  color: var(--color-accent);
  font-size: var(--font-medium);
  transform: scale(0.9);
}
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 40px;
  border: none;
  border-radius: 12px;
  background-color: var(--color-accent);
  color: var(--color-white);
}
.btn:hover,
.btn:focus {
  transform: scale(1.05);
  box-shadow: 0px 2px 10px 2px var(--color-primary);
}