.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
}
.date {
  color: var(--color-white);
}
.title {
  font-size: 20px;
  color: var(--color-white);
  margin-top: 12px;
}
.descr {
  color: var(--color-light);
  margin-top: 20px;
}
.organizer {
  composes: descr;
  margin-left: auto;
}
.wraplink {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}
.link {
  color: var(--color-accent);
  font-size: var(--font-medium);
  transform: scale(0.9);
}
